/* CSS Document */

body{
	padding:0; margin:0;
	background-color:#F8FFED; color:#000000;
	background-image:url(images/header_bg.jpg); background-repeat:repeat-x;
	}
	
div, p, ul, li, a, h1, h2, h3, h4, form, label, input{ 
	padding:0; margin:0;
	}
	
.spacer{
	line-height:0; font-size:0; clear:both;
	}	
	
	/*---------------------------------------- Icons Link Starts here  -------------------------------------*/


a.icon:link {color: #939f63; background: #939f63; }
a.icon:active {color: #939f63; background: #939f63;}
a.icon:visited {color: #939f63; background: #939f63; }
a.icon:hover {color: #939f63; background: #939f63; }


	/*---------------------------------------- Icons Link Ends here-------------------------------------*/
	
	
	

/*---------------------------------------Header Start------------------------------------*/
	
#header{
	width:778px; position:relative;
	margin:0 auto;
	height:240px;
	background-image:url(images/header_bg_1.jpg); background-repeat:no-repeat;
	background-position:bottom;
	}

#header ul{
	position:absolute;
	left:6px;
	top:1px;
	list-style:none;
	width: 383px;
	}
	
#header ul li{
	float:left;
	font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:10px;
	color:#375D0B; background:url(images/header_nav_bg.gif) repeat-x 0 0 #CCCCCC; 
	text-align:center;
	}
	
#header ul li a{
	font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:10px; 
	color:#375D0B; background:url(images/header_nav_bg.gif) repeat-x 0 0 #CCCCCC; 
	width:70px; height:23px; padding-top:34px;
	text-decoration:none; display:block;
	}

#header ul li.home{
	font-family:Tahoma, Arial, Helvetica, sans-serif; font-size:10px; 
	color:#375D0B; background:url(images/nav_bg.jpg) repeat-x 0 0 #CCCCCC; 
	width:70px; height:23px; padding-top:34px;
	text-decoration:none; display:block;
	text-align:center; float:left;
	}
	
#header ul li a:hover{
	background:url(images/nav_bg.jpg) repeat-x 0 0 #E1ECB5;
	color:#375D0B;
	height:23px; width:70px;
	}
	
.logo{
	position:absolute; 
	top:101px; left:16px;
	}
	
#header h2{
	background:url(images/punch_line.jpg) no-repeat;
	width:219px; height:18px;
	position:absolute;
	top:159px; left:16px;
	text-indent:-2000px;
	}
	#apDiv1 {
	position:absolute;
	left:36px;
	top:163px;
	width:210px;
	height:44px;
	z-index:1;
}

/*---------------------------------------Header End------------------------------------*/

/*----------------------------------left side Start-----------------------------------------------------*/	

#container{
	width:778px; position:relative;
	margin:0 auto; padding:0 0 24px 0;
	}	
	
#box{
	height:165px;
	float:left;
	}
	
#blog{
 	border:#BFC897 solid 1px;
	background:url(images/blog.jpg) no-repeat top left #FFFFFF;
	width:216px; height:144px;
	margin:5px 3px 7px 3px;
	float:left; color:#000000;
	padding:9px 20px 0 16px;
 	}
	
#blog h2{
	height:40px;
	background:url(images/box-bg.gif) repeat-x 0 9px #fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px; color:#5C6731; line-height:40px;
}

#blog h2 span{
	width:82px; display:block; background:#fff; 
	float:left; color:#5C6731; 
	padding:0 0 0 16px;
	}
	
#blog h2 span.no{
	width:40px;
	height:40px;
	background:url(images/01.jpg) no-repeat 0 0;
	font-size:0px;
	text-indent:-1000px;
	padding:0;
}

#jobs{
 	border:#BFC897 solid 1px;
	background-image:url(images/jobs.jpg);
	background-position:top left; background-repeat:no-repeat;
	background-color:#FFFFFF; color:#000000;
	width:216px; height:144px;
	margin:5px 3px 7px 0;
	float:left;
	padding:9px 20px 0 16px;
 	}
	
#jobs h2{
	height:40px;
	background:url(images/box-bg.gif) repeat-x 0 9px #fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px; color:#5C6731; line-height:40px;
	}
	
#jobs h2 span{
	width:82px; display:block; background:#fff; 
	float:left; color:#5C6731; 
	padding:0 0 0 17px;
	}
	
#jobs h2 span.no{
	width:40px;
	height:40px;
	background:url(images/02.jpg) no-repeat 0 0;
	font-size:0px;
	text-indent:-1000px;
	padding:0;
	}
	
#ideas{
	border:#BFC897 solid 1px;
	background-image:url(images/ideas.jpg);
	background-position:top left;
	background-repeat:no-repeat;
	background-color:#FFFFFF;
	color:#000000;
	width:216px;
	height:144px;
	margin:5px 3px 7px 0;
	float:left;
	padding:9px 20px 0 16px;
 	}
	
#ideas h2{
	height:40px;
	background:url(images/box-bg.gif) repeat-x 0 9px #fff;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:30px; color:#5C6731; line-height:40px;
	}
	
#ideas h2 span{
	width:82px; display:block; background:#fff; 
	float:left; color:#5C6731; 
	padding:0 0 0 17px;
	}
	
#ideas h2 span.no{
	width:40px;
	height:40px;
	background:url(images/03.jpg) no-repeat 0 0;
	font-size:0px;
	text-indent:-1000px;
	padding:0;
	}
	
ul.box{
	margin-bottom:15px; padding-left:60px;
	list-style:none;
	}
	
ul.box li{
	line-height:20px; 
	background-image:url(images/list_icon.jpg); background-repeat:no-repeat;
	background-position:0px 5px; background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif; font-size:13px;
	color:#1F3400;
	padding-left:15px;
	}
	
ul.box li a{
	line-height:20px; 
	background-color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif; font-size:13px;
	color:#1F3400; text-decoration:none;
	}
	
ul.box li a:hover{
	background-color:#EBF8D8; color:#1F3400;
	}
	
#blog p{
	background-color:#86C826; 
	clear:both;
	height:11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px; color:#fff; font-weight:bold;
	text-align:right;
	}
	
#blog p a{
	text-align:left;
	display:block; 
	background-color:#477406; background-image:url(images/blog_arrow.gif);
	background-repeat:no-repeat; background-position:48px;
	padding:0 0 0 13px; line-height:11px;
	width:45px;
	text-decoration:none;
	color:#FFFFFF;
	float:right;
	}
#blog p a:hover{
background-color:#D0EEA5; color:#477406; background-image:url(images/blog_arrow_h.gif);
	}
#jobs p{
	background-color:#4F91D5; 
	clear:both;
	height:11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px; color:#fff; font-weight:bold;
	text-align:right;
	}	

#jobs p a{
	text-align:left;
	display:block; 
	background-color:#17487B; background-image:url(images/jobs_arrow.gif);
	background-repeat:no-repeat; background-position:48px;
	padding:0 0 0 13px; line-height:11px;
	width:45px;
	text-decoration:none;
	color:#FFFFFF;
	float:right;
	}
#jobs p a:hover{
background-color:#CBE0F9; color:#17487B; background-image:url(images/blog_arrow_h.gif);
	}
#ideas p{
	background-color:#E3C55B; 
	clear:both;
	height:11px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px; color:#fff; font-weight:bold;
	text-align:right;
	}
	
#ideas p a{
	text-align:left;
	display:block; 
	background-color:#8F7004; background-image:url(images/ideas_arrow.gif);
	background-repeat:no-repeat; background-position:48px;
	padding:0 0 0 13px; line-height:11px;
	width:45px;
	text-decoration:none;
	color:#FFFFFF;
	float:right;
	}
#ideas p a:hover{
background-color:#F4E5B2; color:#8F7004; background-image:url(images/blog_arrow_h.gif);
	}
	
#left{
	float:left;
	width:478px;
	padding:19px 32px 0 27px;
	}

#left h2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px; color:#043970; background-color:#F8FFED;
	margin-bottom:19px;
	}
	
#left p{
	font-family:Arial, Helvetica, sans-serif; font-size:14px;
	color:#334714; background-color:#F8FFED;
	}

#left p.bg{
	margin:21px 0 34px 0;
	background-color:#D8E5C4; color:#334714;
	height:11px;
	}
	
#left p a.bottom{
	background:#657D40;
	background-image:url(images/read_arrow.gif);
	background-repeat:no-repeat;
	background-position:80px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px; color:#FFFFFF;
	text-decoration:none;
	line-height:11px;
	display:block;
	padding:0 20px 0 16px;
	float:right;
	text-transform:uppercase;
	font-weight:bold;	
	}
#left p a.bottom:hover{
	background-color:#D8E5C4; color:#657D40; background-image:url(images/blog_arrow_h.gif);
	}
	
#left img{
	margin-bottom:24px;
	}
	
#left ul{
	margin:0; padding:0;
	}

#left ul li{
	list-style:none;
	background:url(images/leaf.gif) no-repeat ;
	}
	
#left ul li a{
	background:url(images/leaf.gif) no-repeat #F8FFED;;
	font-family:Arial, Helvetica, sans-serif;
	color:#775C14; font-size:14px;
	line-height:18px; text-decoration:none;
	font-weight:bold; text-transform:uppercase;
	padding-left:20px; 
	}
	
#left ul li a:hover{
	color:#990000; background-color:#DCEBC4;
	}
	
/*----------------------------------left side End-----------------------------------------------------*/	

/*----------------------------------right side Start-----------------------------------------------------*/

#right{
	position:relative;
	float:left;
	width:210px;
	padding:6px 6px 31px 7px;
	margin-top:6px;
	background-color:#C3CE98; color:#000000;
	}
	
#right form.search{
	background-color:#8F7004; color:#000000;
	padding-top:7px;
	}
	
#right form .text1{
	margin:7px 0 0 16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#FFFFFF; background-color:#8F7004;
	line-height:24px;
	}
	
#right form .input1{
	margin:0 0 8px 16px;
	width:167px;
	padding:4px; color:#000000;
	background-color:#F8FFED;
	border:#715803 solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}

#right p.search{
	background-color:#715803;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px; color:#FFFFFF;
	line-height:15px;
	padding-left:16px;
	}

#right input.submit{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px; color:#423301; font-weight:bold;
	padding:0 12px 2px 5px;
	background:url(images/go_arrow.gif) no-repeat 24px 3px;
	background-color:#F8FFED;
	width:31px; height:11px;
	border:none;
	cursor:pointer;
	margin:1px 0 1px 23px;
	}
#searchBg{
	background-color:#8F7004;
	height:12px; color:#000000;
	margin-bottom:7px;
	}
	
#right h2.member{
	background-color:#646E36;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px; color:#FFFFFF;
	line-height:32px;
	padding-left:16px;
	}
	
#right form.login{
	background-color:#939F63;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:12px; color:#FFFFFF;
	padding:3px 16px 24px ;
	}
	
#right form .text2{
	margin:7px 0 0 0; background-color:#939F63;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFFFFF; font-weight:bold;
	line-height:24px;
	}
	
#right form .input2{
	width:167px;
	padding:4px;
	background-color:#F8FFED;
	border:#715803 solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; color:#000000;
	}
	
#right p.login{
	margin:10px 0 0 0;
	background-color:#6A753E;
	height:11px; padding:0; color:#FFFFFF;
	text-align:right;
	}
	
.loginBtn{
	background:url(images/login_arrow.gif) no-repeat 55px 3px;
	background-color:#121504;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:left; font-weight:bold; line-height:11px;
	color:#FFFFFF; border:0;
	width:65px; height:11px;
	cursor:pointer;
	padding:0 15px 0 14px; margin:0; float:right;
	}
	
#right h4{
	background-image:url(images/computer_1.gif);
	background-repeat:repeat-x; background-color:#999999;
	height:80px; color:#000000; line-height:0;
	margin-bottom:17px; padding:0 0 0 115px;
	}

#right h4 span.small{
	font:normal 20px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	margin:0; padding:0;
	}

#right h4 span.big{
	font:normal 39px/39px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	padding:0; margin:0; 
	}

#right  h4 span.click{
	background-color:#F8FFED;
	width:67px; color:#1B3100;
	}
	
#right h4 span.click a{
	background:url(images/click_arrow.gif) no-repeat 50px 3px;
	background-color:#F8FFED;
	width:51px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:10px; font-weight:bold; text-align:left;
	line-height:11px; text-decoration:none;
	color:#1B3100; padding-left:16px; margin:5px 0 0 0;
	display:block;
	}
	
#right h2.contact{
	background-color:#646E36;
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px; color:#FFFFFF;
	line-height:32px;
	padding-left:16px;
	margin-bottom:15px;
	}
	
#right .input3{
	width:167px;
	padding:4px; margin:0;
	background-color:#F8FFED;
	border:#715803 solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; color:#000000;
	}

#right .inputTextarea{
	width:174px;
	background-color:#F8FFED;
	border:#715803 solid 1px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px; color:#000000;
	}

.contactForm{
	padding:0 18px 0 16px;
	}
	
.contactText{
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; font-weight:bold;
	color:#334714;
	line-height:14px;
	background-color:#E1E8C5;
	height:14px; width:175px;
	display:block;
	margin:5px 0 5px 0;;
	}
	
.contactBtn{
	background:url(images/login_arrow.gif) no-repeat 55px 3px;
	background-color:#121504;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:9px;
	text-align:left; font-weight:bold; line-height:11px;
	color:#FFFFFF; border:0;
	width:65px; height:11px;
	cursor:pointer;
	padding:0 15px 0 10px; margin:0 1px 0 0; float:right;
	}

/*----------------------------------right side End-----------------------------------------------------*/	

/*----------------------------------footer Start-----------------------------------------------------*/	

#footer{
	clear:both;
	background:url(images/footer_bg.gif) 0 0 #4F3E03;
	background-repeat:repeat-x; position:relative;
	margin:0 auto 44px;
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#F8FFED;
	height:120px;
	padding:20px 0 0 0;
	}

#footer ul.nav{
	margin:0 auto; padding:0;
	width:470px;	
	}
	
#footer ul.nav li{
	list-style:none;
	float:left;text-align:center;
	}
	
#footer ul.nav li a{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px;color:#F8FFED; 
	background-color:#4F3E03;
	padding:0 5px;
	text-decoration:none;
	}

#footer ul.nav li a:hover{
	color:#F8FFED; background-color:#7A6E46;
	}

#footer p{
	font-family:Tahoma, Arial, Helvetica, sans-serif;
	font-size:11px; color:#F8FFED;
	background-color:#4F3E03;	
	line-height:29px;
	text-align:center;
	}
	
#footer ul.box1{
	margin:0 auto; padding:0;
	width:120px;
	}
	
#footer ul.box1 li{
	list-style:none;
	margin-right:1px; padding:0 5px 0 0; 
	background-color:#050400; color:#F8FFED;
	float:left;
	}   
	
#footer ul.box1 li a{
	background:url(images/footer_arrow.gif) no-repeat right 4px;
	background-color:#050400; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px; font-weight:bold;
	color:#F8FFED;
	text-align:left; padding:0 10px 0 8px;
	display:block;
	line-height:15px;
	text-decoration:none;
	}
	
#footer p.design {
	margin:5px auto 0 auto;
	background-color:#3A2E02; width:150px;
	font:normal 11px/16px Tahoma, Arial, Helvetica, sans-serif; 
	color:#F8FFED; text-decoration:none;
	}


#footer p.design a {
	background-color:#3A2E02;
	font:normal 11px/16px Tahoma, Arial, Helvetica, sans-serif; 
	color:#F8FFED; text-decoration:none;
	}
	
#footer p.design a:hover{
	background-color:#BBB49A; color:#000000;
	}
	

/*----------------------------------footer End-----------------------------------------------------*/	
